{% extends 'base.html' %}
{% load crispy_forms_tags %}




{% block title %}Login{% endblock title %}



{% block content %}

<div class="container-fluid">  
    <div class="d-flex row justify-content-center">
        <div class="col-8">
            <h2 class="text-center">Log in to your account</h2>
            
            <form method="post" action="#">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="submit" class="btn btn-outline-info">Login</button>
                </div>
            </form>
            <p class="text-center">Forgot your password <a href="#">Reset Password</a></p>
            <p class="text-center">Don't have a account? <a href={% url 'users:signup' %}>Join Now</a></p>
        </div>
    </div>
</div>
{% endblock content %}

